/* General */

/* nice-looking palette:
 lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05;
  */

p {
  	font-family: 'Coming Soon', cursive;
  }

a {
	text-decoration: none;
}

img {
	width: 300px;
}

footer p{
	text-align: center;
}

.white {
  color: white;
}

.container {
	border: 1px solid yellow;
}

#myName {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Gloria Hallelujah', cursive;	font-size: 4em;
}

.pic {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.pic1 {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
 
.pic::after {
  content: "";
  background: url('../images/open_road_panel.jpg')no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.pic1::after {
  content: "";
  background: url('../images/openRoadPicture.JPG')no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.pic2{
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.pic2::after {
  content: "";
  background: url('../images/JustMeCodingAtCD.jpg')no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#nav-bar {
	width: 100%;
	overflow: auto;
	width: 100%;
	background-color: yellow;
	opacity: 0.3;
}

#nav-bar ul {
	list-style-type: none;
}

#nav-bar li {
	float: left;
	padding-left: 15%;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;

}

#checkBack {
  color: red;
}

#main_content {
	/*overflow: auto;*/
	width: 100%;
}

#bio_content {
	width: 100%;
	padding: 80px 20%;
}

#left_content{
	float: left;
	width: 32%;
	height: 300px;
	padding: 50px 30px;
}

#center_content{
	float: left;
	width: 32%;
	height: 300px;
	padding: 50px 5px;
}

#center_content ul{
	list-style-type: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.4em;
	background-color: yellow;
	opacity: 0.3;
	padding: 5px 10px;

}

#right_content{
	float: left;
	width: 32%;
	height: 300px;
	padding: 50px 10px;
}
